/* ScorePage.module.css */

.scorePageContainer {
  min-height: 100vh;
  background-color: #ffffff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
