/* Questionnaire.module.css */

.questionnaireContainer {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: #fff;
}
