/* WelcomCart.module.css */

.box {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #fff;
}

.cardBox {
  background-color: #d8d2d2;
  border-radius: 16px;
  padding: 3rem;
  width: 100%;
  color: black;
  max-width: 600px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
  text-align: center;
}

.landingContainer h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #000000;
}

.selectContainer {
  margin-bottom: 2rem;
}

.selectContainer h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

select {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-color: #8f8c8c;
  color: #fff;
}

select:focus {
  outline: 2px solid #555;
}

.row {
  margin-top: 2rem;
}

.button {
  background-color:rgb(27, 52, 194);
  color: rgb(216, 218, 236);
  padding: 0.75rem 2rem;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: rgb(122, 139, 236);
  color: rgb(216, 218, 236);
}
